<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.material.chain.logistics.mapper.LogisticsOrderPoMapper">
  <resultMap id="BaseResultMap" type="com.material.chain.logistics.domain.po.LogisticsOrderPo">
    <!--@mbg.generated-->
    <!--@Table t_logistics_order-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="business_no" jdbcType="VARCHAR" property="businessNo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_no, business_no, `status`, create_id, update_id, create_time, update_time
  </sql>


</mapper>