<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.material.chain.business.mapper.MaterialInventoryPoMapper">
  <resultMap id="BaseResultMap" type="com.material.chain.business.domain.po.MaterialInventoryPo">
    <!--@mbg.generated-->
    <!--@Table t_material_inventory-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="inventory_number" jdbcType="INTEGER" property="inventoryNumber" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, material_id, supplier_id, inventory_number, create_id, update_id, create_time, 
    update_time
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_material_inventory
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="material_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.materialId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="supplier_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.supplierId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="inventory_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.inventoryNumber,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="create_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="update_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=BIGINT}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_material_inventory
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="material_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.materialId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.materialId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="supplier_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.supplierId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.supplierId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="inventory_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.inventoryNumber != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.inventoryNumber,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_material_inventory
    (material_id, supplier_id, inventory_number, create_id, update_id, create_time, update_time
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.materialId,jdbcType=BIGINT}, #{item.supplierId,jdbcType=BIGINT}, #{item.inventoryNumber,jdbcType=INTEGER}, 
        #{item.createId,jdbcType=BIGINT}, #{item.updateId,jdbcType=BIGINT}, #{item.createTime,jdbcType=BIGINT}, 
        #{item.updateTime,jdbcType=BIGINT})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2023-11-23-->
  <select id="findAllInMaterialIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_material_inventory
        where material_id in
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>

<!--auto generated by MybatisCodeHelper on 2023-11-24-->
  <update id="updateIncInventoryNumberById">
    update t_material_inventory
    set inventory_number = #{inventoryNumber}
    where id=#{id,jdbcType=BIGINT}
  </update>
</mapper>